*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #d9d9d9  ;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.header{
  width: 1000px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav{
  list-style: none;
  margin-inline: auto;
  display: flex;
  gap: 48px;
}
.nav a{
  font-size: 12px;
  line-height: 1.2em;
  color: blueviolet;
  text-decoration: none;

}
.header img{
  display: block;
  max-width: 30%;
}
.icons img{
  vertical-align: middle;
}
h1{
  color: purple;
}
