* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;

}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 0;
}

.preOrder-box {

  background-color: #E8EFF2;
  border-radius: 10px;

}

.preOrder-button {
  padding: 16px 26px;
  text-align: center;
}

.preOrder-button a {
  text-decoration: none;
  color: #162542;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;

}

.preOrder-box:hover {
  background-color: #162542;
}

.preOrder-box:hover a {
  color: #FFFFFF;
}

.hero-keyboard {
  display: flex;
  margin-bottom: 30px;
}


.hero-text {
  padding-top: 50px;
  padding-right: 50px;
}

.hero-text h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #162542;
  margin-bottom: 24px;
}

.hero-text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #7B8BAD;
  margin-bottom: 40px;

}


.hero-box {
  width: 250px;
  background-color: #F16718;
  border-radius: 10px;
  margin-right: 50px;

}

.hero-button {
  padding: 16px 26px;
  text-align: center;
}

.hero-button a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;

}

.hero-box:hover {
  background-color: #FF9B62;
}

.button-side {
  display: flex;
  align-items: baseline;
}

.main {
  display: grid;
  grid-template-areas: 'photo photo text';
  margin-bottom: 50px;
}


.main-text {
  grid-area: text;
  padding: 127px 4px;
  width: 255px;
  display: block;
}

.main-text h4 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #162542;
  margin-bottom: 27px;
}

.main-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7B8BAD;
}

.main-photo-orange {
  margin-right: -19px;
}

.information {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.information img {
  padding-bottom: 48px;
}

.information h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #162542;
  padding-bottom: 24px;
}

.information p {
  width: 255px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7B8BAD;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 128px;
  padding-bottom: 39px;
}

.footer a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #7B8BAD;
}