*/ *,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  background-color: #FFD6FF;
  font-family: "Edu AU VIC WA NT Hand", cursive;

}

.header h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(143, 63, 181);
}

.postContentItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
}

.postContent {
  background-color: #C8B6FF;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 10px;
}

.postContent h2 {
  text-align: center;
  padding-bottom: 10px;
  color: purple;
  padding-inline: 10px;
  margin-bottom: 5px;

}

.postContent p {
  text-align: center;
  padding-inline: 10px;
  padding-bottom: 10px;
  padding-bottom: 50px;
  color: rgb(144, 45, 45);
}

li {
  padding-bottom: 15px;
  color: rgb(144, 45, 45);


}

@media(width <=768px) {
  .postContentItem {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
  }
}