:root {
  --primary-color: #9E7F66;
  --primary-color-dark: #111111;
  --secondary-color: #17192B;
  --secondary-color-dark: #242B37;
  --secondary-color-light-dark: #5C6779;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "League Spartan", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-weight: 300;
  font-size: 32x;
  line-height: 40px;

}


h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

}


h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}


h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
  padding: 25px 48px;

}

/* mobil vers start */

.container {
  max-width: 375px;
  margin: 0 auto;

}

/* header start  */

.header {
  max-width: 375px;
  background-image: url(/dine-restaurant/assets/img/full-hero.png);
  background-size: 160%;
  background-position-y: -80%;
  background-position-x: 47%;
  background-repeat: no-repeat;
  background-color: #111111;

}

.header-content {
  margin-inline: 24px;
  text-align: center;
  padding-bottom: 152px;
  padding-top: 200px;

}

.header-content img {
  text-align: center;
  padding-bottom: 36px;
  padding-inline: 122px;
}

.header-content h1 {
  width: 327px;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 21px;
  color: #ffffff;
}

.header-content p {
  width: 327px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 53px;
}


.header a {
  width: 170px;
  background-color: var(--primary-color-dark);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
  border: 1px solid white;
}

.header-btn:hover {
  background-color: #FFFFFF;

}

.header a:hover {
  color: #111111;
}

/* header end */

/* hero start  */

.information-content {
  margin: 0 auto;
  text-align: center;

}

.place-desktop,
.place-tablet {
  display: none;
}

.place-mobil {
  filter: drop-shadow(gray 1px 20px 40px);

}

.informationImg {
  margin-inline: auto;
  margin-top: -50px;
  margin-bottom: 48px;
}

.information-content img {
  margin-inline: auto;
  margin-bottom: 39px;
}


.information-content h2 {
  margin-inline: auto;
  margin-bottom: 13px;
  color: #242B37;
  width: 300px;
}

.information-content p {
  margin-inline: auto;
  width: 315px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #242B37;
  margin-bottom: 100px;
}

.chef-photo {
  margin-inline: auto;
  margin-top: -50px;
  margin-bottom: 48px;
  filter: drop-shadow(gray 1px 20px 40px);



}

.burger-icon {
  display: none;
}


.tablet-chef-photo,
.desktop-chef-photo {
  display: none;
}

/* hero end  */
/* menu start  */


.menu-container {
  background-color: #111111;
  width: 375px;
  padding-top: 72px;
  padding-inline: 24px;
  text-align: center;
}

.oval-border {
  margin: 0 auto;
}

.menu-header h2 {
  color: white;
  margin-top: 34px;
  margin-bottom: 13px;
}

.menu-header p {
  color: white;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 85px;
}

.food-item {
  color: #ffffff;
  text-align: center;
}

.food-item img {
  margin-bottom: 36px;
}

.food-item h4 {
  margin-bottom: 6px;

}

.food-item:last-child {
  padding-bottom: 100px;
}

hr {
  border: 1px solid white;
  margin-block: 26px;
  opacity: 15%;
}

.without-border {
  display: block;
}

.with-border {
  display: none;
}

/* menu end  */
/* reservation start  */
.reservation-container {
  background-image: url(/dine-restaurant/assets/img/mobil-reservation.jpg);
  background-size: 100%;
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  padding: 83px 24px;
  text-align: center;

}

.reservation-container h3 {
  margin-bottom: 30px;
  color: #ffffff;
}

.reservation-container a {
  color: #FFFFFF;
}

.footer-btn {
  border: 1px solid white;
  padding: 24px 54px;
}

/* reservation end  */
/*footer start  */

.footer {
  background-color: #111111;
  gap: 35px;
  text-align: center;
  padding-block: 80px;
}

.footer img {
  margin-inline: auto;
  margin-bottom: 40px;

}

.footer p {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 40px;
}

.times {
  margin-bottom: 70px;

}

/* footer end */




/* mobil vers end */
/* tablet vers start */

@media(width >=768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;

  }

  /* header start */
  .header {
    max-width: 768px;
    background-size: 107%;
    background-position-y: -178%;
    background-position-x: 47%;
    background-repeat: no-repeat;
    background-color: #111111;

  }

  .header-content {
    margin-inline: 24px;
    text-align: center;
    padding-bottom: 152px;
    padding-top: 163px;

  }

  .header-content img {
    margin-inline: auto;
    margin-top: 26px;
  }

  .header-content h1 {
    margin-inline: auto;
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 20px;
    color: #ffffff;
  }

  .header-content p {
    margin-inline: auto;
    width: 327px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 52px;
  }


  .header a {
    width: 245px;
    background-color: var(--primary-color-dark);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 2.5px;
    border: 1px solid white;
  }

  .header-btn:hover {
    background-color: #FFFFFF;

  }

  .header a:hover {
    color: #111111;
  }

  /* header end */
  /* hero start  */

  .information-content {
    margin: 0 auto;
    text-align: center;

  }

  .place-desktop,
  .place-mobil {
    display: none;
  }

  .place-tablet {
    display: block;
    filter: drop-shadow(gray 1px 20px 40px);

  }

  .informationImg {
    margin-inline: auto;
    margin-top: -50px;
    margin-bottom: 48px;
  }

  .information-content img {
    margin-inline: auto;
    margin-bottom: 39px;
  }


  .information-content h2 {
    margin-inline: auto;
    margin-bottom: 27px;
    color: #242B37;
    width: 457px;
    font-size: 48px;
    line-height: 48px;
  }

  .information-content p {
    margin-inline: auto;
    width: 457px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #242B37;
    margin-bottom: 120px;
  }

  .chef-photo {
    margin-inline: auto;
    width: 573px;
    margin-top: -50px;
    margin-bottom: 48px;
    filter: none;

  }

  .tablet-chef-photo {
    display: block;

  }

  .mobile-chef-photo,
  .desktop-chef-photo {
    display: none;
  }

  .burger-icon {
    display: block;
    position: relative;
    left: 570px;
    top: -160px;
  }

  /* hero end  */
  /* menu start  */


  .menu-container {
    background-color: #111111;
    width: 768px;
    padding-top: 72px;
    padding-inline: 24px;
    text-align: center;
  }

  .oval-border {
    margin: 0 auto;
    
  }

  .menu-header h2 {
    color: white;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    width: 355px;
    margin-inline: auto;
  }

  .menu-header p {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 85px;
    text-align: center;
    width: 445px;
    margin-inline: auto;

  }

  .food-item {
    color: #ffffff;
    text-align: center;
    display: flex;
    padding-inline: 98px;

  }

  .food-item img {
    width: 120px;
  }

  .food-item h4 {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;

  }

  .food-item p {
    font-size: 16px;
    line-height: 26px;

  }

  .food-item:last-child {
    padding-bottom: 100px;
  }

  hr {
    border: 1px solid white;
    margin-block: 26px;
    opacity: 15%;
    width: 573px;
    margin-inline: auto;
  }

  .item {
    text-align: left;
    margin-left: 62px;


  }

  .without-border {
    display: none;
  }

  .with-border {
    display: block;
  }

  /* menu end  */
  /* reservation start  */
  .reservation-container {
    background-image: url(/dine-restaurant/assets/img/tablet-reservation.jpg);
    background-size: 150%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    padding: 83px 24px;
    text-align: center;


  }

  .reservation-container h3 {
    margin-bottom: 48px;
    color: #ffffff;
    font-size: 48px;
    line-height: 48px;
  }

  .reservation-container a {
    color: #FFFFFF;
  }

  .footer-btn {
    border: 1px solid white;
    padding: 24px 54px;
  }

  /* reservation end  */
  /*footer start  */

  .footer {
    background-color: #111111;
    text-align: center;
    padding-block: 3px;
    display: flex;
  }

  .footer img {
    /* margin-inline: auto;
  margin-bottom: 40px; */
    margin: 0;
    padding-left: 39px;
    margin-top: -150px;
    vertical-align: center;

  }

  .footer p {
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 40px;
    padding-inline: 100px;
    text-align: left;
  }

  .address {
    margin-top: 65px;
  }

  /* footer end */

}

/* tablet vers end */
/* desktop vers start */

@media(width >=1110px) {

  .container {
    max-width: 1440px;
    margin: 0 auto;

  }

  /* header start */
  .header {
    max-width: 1440px;
    background-size: 90%;
    background-position-y: -3%;
    background-position-x: 471%;
    background-repeat: no-repeat;
    background-color: #111111;


  }

  .header-content {
    margin-inline: 24px;
    text-align: left;
    /* padding-bottom: 152px;
    padding-top: 163px; */
    margin-right: 431px;


  }

  .header-content img {
    margin-inline: auto;
    position: relative;
    top: -140px;
    right: 194px;
  }

  .header-content h1 {
    margin-inline: auto;
    font-size: 80px;
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #ffffff;
    width: 508px;

  }

  .header-content p {
    margin-inline: auto;
    width: 327px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 62px;
    width: 508px;

  }


  .header a {
    width: 245px;
    background-color: var(--primary-color-dark);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 2.5px;
    border: 1px solid white;
    margin-left: 239px;
  }

  .header-btn:hover {
    background-color: #FFFFFF;

  }

  .header a:hover {
    color: #111111;
  }

  /* header end */

  .item-left {
    float: left;
    display: flex;
    padding-left: 155px;
    margin-bottom: 120px;
    color: white;

  }

  .information-content {
    padding-top: 230px;
    padding-left: 125px;
    text-align: left;

  }

  .information-content img {
    margin-inline: 0px;
  }


  .item-right .information-content {
    padding-top: 321px;
  }

  .item-right {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    margin-right: 155px;
    position: relative;
    z-index: 2;

  }

  .place-mobil,
  .place-tablet {
    display: none;
  }

  .place-desktop {
    display: block;
    filter: drop-shadow(gray 1px 20px 40px);
  }


  .tablet-chef-photo,
  .mobil-chef-photo {
    display: none;
  }

  .desktop-chef-photo {
    display: block;
    margin-bottom: -44px;
  }

  .burger-icon {
    display: block;
    position: relative;
    left: 684px;
    top: -26px;
  }

  .menu-container {
    display: flex;
    width: 1440px;
    padding-inline: 123px;
    position: relative;
    z-index: 1;
    padding-top: 170px;
  }

  .menu-header h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
    margin-inline: 0px;
  }

  .menu-header p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;

  }

  .oval-border {
    margin-top: -610px;
    margin-right: -81px;
  }

  .item {
    width: 350px;
  }

  .without-border {
    display: none;
  }

  .with-border {
    display: block;
  }



  .food-item:first-child {
    padding-top: 50px;
  }

  .reservation-container {
    background-image: url(/dine-restaurant/assets/img/desktop-reservation.png);
    display: flex;
    padding: 95px 165px;
  }

  .reservation-container h3 {
    text-align: center;
    margin-right: 200px;
  }

  .footer-btn {
    padding: 24px 55px;
    align-content: center;
    height: 65px;
  }

  .footer-btn:hover {
    background-color: #FFFFFF;

  }

  .reservation-container a:hover {
    color: #111111;
  }



  .footer-content {
    display: flex;
    margin: 0 auto;
    margin-top: 55px;
  }

  .address {
    margin: 0;
  }

  .footer img {
    margin-top: 0;
    padding-left: 165px;
  }
}

/* desktop vers end */
